extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Phu An Doan

        //- Feel free personalize the title below
        p.lead.text-light
          | Fresher Data Analyst

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My name is Phu An Doan, you can call me Andy. Nice to meet you. I am majoring in Data Analytics at Douglas College, and this is my last semester. On campus, I am actively involved as a student mentor volunteer, and I got reference letter from the coordinators of volunteer program. 
            | For academic, my courses have been focusing on programming languages like R, Python and some tools such as Tableau, Power BI to make data visualization. Also, I have SQL and MongoDB skills to deal with databases. 
            | I got 2 Honour Roll achievements during my study at Douglas College. I hope I can find an internship position in IT-related field to build up my career.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li C#
          li Java
          li Python
          li PHP
          li Tableau
          li Power BI
          li R 
          li SQL
          li MongoDB 
          li JavaScript
          li HTML/CSS
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-655-7791
          li phuandoan1012@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/-andydoan/') LinkedIn
        a.button.expanded(href='https://github.com/phuandoan1012') GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  